.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color:#2f80ed;
  transition: opacity 0.3s linear;
}

.feynman__link:hover{
  opacity: 0.4;
}